@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@700&display=swap');

.baner-text {
  position:table;
  margin-bottom: 25%;
  margin-left: 0%;
  width: 30rem;
  
}

.actors-name {
 font-size: 62px;
  font-family: 'Hind Madurai', sans-serif;
  font-weight: 400;
  background-image: linear-gradient(to left, #225ff1, #b6d02f 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  line-height: 2;
 }

 .title {
   display: flex;
 }
.online-course {
  justify-content: start;
  font-size: 45px;
  margin-left: 0%;
line-height: 2.5;
}
